input {
    display: block;
    width  : 400px;
    margin: 4px;
}

.alert {
    color: red;
}

.button_wrapper {
    text-align: center;
}

.field-icon {
    color       : #555;
    float       : right;
    margin-right: 7px;
    margin-top  : -37px;
    position    : relative;
    z-index     : 2;
}